.formContainer {
  background: #fff;
  padding: 49px 0 448px 453px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.divider {
  border: none;
  height: 1px;
  background: #d5d5d5;
  margin: 14px 0;
}

@media (max-width: 991px) {
  .formContainer {
    padding: 20px;
  }
}
